.build-summary
{
	padding: 7px;
	background-color: #2F2F2F;
	@include box-sizing(border-box);

	.category
	{
		width: 100%;
		display: block;
		+ .category { margin-top: 10px; }
	}

	.category-name
	{
		@include box-sizing(border-box);
		color: white;
		font-size: 14px;
		background-color: slategrey;
		border: 1px solid #CCCCCC;
		padding: 3px;
		width: 100%;
	}

	.category-items
	{
		color: #CCC;
		font-size: 12px;
		border: 1px solid white;
		border-top: 0;
		padding: 7px;
		.category-item + .category-item { margin-top: 5px; }
	}
}